!!! 5

-#%titulo.link "MyRottenPotatoes", movies_path

%titulo= link_to "MyRottenPotatoes", movies_path

%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    <link rel="stylesheet" href="http://~/Escritorio/Dropbox/workspace/myrottenpotatoes/app/assets/stylesheets/application.css"/>

  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield

%p#piepagina Antonio Moreno Carretero
